{% extends 'layout.html' %}

{% block content %}
<div class="container page">
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <table class="table">
                <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>{{ track.pk }}</td>
                    </tr>
                    <tr>    
                        <td>Title</td>
                        <td>{{ track.name }}</td>
                     </tr>
                    <tr>  
                        <td>Time</td>
                        <td>{{ track.timestamp }}</td>
                    </tr>
                    <tr>
                        <td>TrackJson</td>
                        <td>{{ track.geoJson|truncatechars:512 }}</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a href="/tracks">Back to Tracks</a> 
            </p>
        </div>
    </div>
</div>
{% endblock %}