{% extends 'layout.html' %}

{% block content %}
<div class="container page">
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Time</th>
                </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td>{{track.pk}}</td>
		    <td>
		      <a href="/tracks/{{track.pk}}">
		      {{track.name}}</td>
		      </a>
                    <td>{{track.timestamp}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock %}