<!DOCTYPE html>
<html>
    <head>
        <title>bike.jochenklar.de</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        
        <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" >
        {% block css %}{% endblock %}
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css" />
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">bike.jochenklar.de</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul id="navigation" class="nav navbar-nav"></ul>
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/admin">Admin</a></li>
                </ul>
                <ul id="profiles" class="nav navbar-nav pull-right"></ul>
                <ul id="properties" class="nav navbar-nav pull-right"></ul>
            </div>
        </nav>

        <div id="content">
            {% block content %}{% endblock %}
        </div>  

        <script type="text/javascript" src="{{ STATIC_URL }}jquery.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}handlebars-v1.3.0.js" ></script>
        <script type="text/javascript" src="{{ STATIC_URL }}moment.min.js" ></script>
        {% block js %}{% endblock %}
    </body>
</html>
