@font-face {
    font-family: DroidSans;
    src: url('font/DroidSans.ttf');
}
@font-face {
    font-family: DroidSans;
    src: url('font/DroidSans-Bold.ttf');
    font-weight: bold;
}
html, body {
    padding: 0;
    margin: 0;
    font-family: DroidSans;
}

#content {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    /*background-image: url(/static/img/shinedotted.png);*/
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.box {
    background-color: white;
    border: 1px solid #d4d4d4;
    padding: 5px 10px;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 5px;
}

.leaflet-left .leaflet-control {
    margin-left: 20px;
}
.leaflet-top .leaflet-control {
    margin-top: 20px;
}
.leaflet-container .leaflet-control-attribution {
    margin-right: 20px;
    margin-bottom: 20px;

    border: 1px solid #d4d4d4;
    box-shadow: none;
    background-color: white;
    border-radius: 0;
    padding: 5px 10px;

}
.leaflet-bar {
    border: 1px solid #d4d4d4;
    box-shadow: none;
    border-radius: 0 !important;
}
.leaflet-control-zoom-in,
.leaflet-control-zoom-out,
.dropdown-menu {
    border-radius: 0 !important;
}

#properties .dropdown-menu,
#profiles .dropdown-menu {
    right: 0;
    left: auto;
    padding: 10px;
}

#properties table {
    width: 200px;
}

#profiles path {
    stroke-width: 1;
    fill: none;
}
#profiles path.y1 {
    stroke: #0078A8;
    stroke-width: 2;
    fill: none;
}
#profiles path.y2  {
    stroke: #ccc;
    stroke-width: 2;
    fill: none;
}
#profiles .axis path {
    stroke: #777;
    stroke-width: 2;
}
#profiles .axis text {
    color: #777;
}
#profiles .axis {
    shape-rendering: crispEdges;
}
