{% load staticfiles %}

<title>{{ request.site.name }}</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >

<script type="text/javascript" src="{% static 'jquery.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
<script type="text/javascript" src="{% static 'handlebars-v1.3.0.js' %}" ></script>
<script type="text/javascript" src="{% static 'moment.min.js' %}" ></script>

{% block head %}{% endblock %}

<link rel="stylesheet" href="{% static 'style.css' %}" />
