{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}" />

    <style>
        #profiles path.y1 {
            stroke: {{track_color}};
        }
    </style>

    <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}" ></script>
    <script type="text/javascript" src="{% static 'd3.v3.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'map.js' %}" ></script>

    <script type="text/javascript">
        _tiles_url = "{{tiles_url}}";
        _tiles_opt = {{tiles_opt|safe}};
        _track_color = "{{track_color}}";
        $(document).ready(function() {setTimeout("init();", 100);});
    </script>

    {% verbatim %}
    <script id="navigation-template" type="text/x-handlebars-template">
        {{#each data}}
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{year}}<b class="caret"></b></a>
            <ul class="dropdown-menu">
            {{#each tracks}}
            <li>
                <a class="load-track" href="#{{id}}">
                {{#if name}}
                {{name}} - {{prettifyDate timestamp}}
                {{else}}
                {{prettifyDate timestamp}}
                {{/if}}
                </a>
            </li>
            {{/each}}
            </ul>
        </li>
        {{/each}}
    </script>

    <script id="properties-template" type="text/x-handlebars-template">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Properties<b class="caret"></b></a>
            <div class="dropdown-menu">
            <table>
                {{#if time}}
                <tr>
                    <td>Total time</td>
                    {{#with time}}
                    <td>{{hours}}:{{minutes}}:{{seconds}}</td>
                    {{/with}}
                </tr>
                {{/if}}
                {{#if dist}}
                <tr>
                    <td>Distance</td>
                    <td>{{dist}} km</td>
                </tr>
                {{/if}}
                {{#if speed}}
                <tr>
                    <td>&#216; Speed</td>
                    <td>{{speed}} km/h</td>
                </tr>
                {{/if}}
                {{#if cad}}
                <tr>
                    <td>&#216; Cadence</td>
                    <td>{{cad}}</td>
                </tr>
                {{/if}}
                {{#if cal}}
                <tr>
                    <td>Calories</td>
                    <td>{{cal}}</td>
                </tr>
                {{/if}}
            </table>
            </div>
        </li>
    </script>

    <script id="profiles-template" type="text/x-handlebars-template">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Profiles<b class="caret"></b></a>
            <div id="profiles-canvas" class="dropdown-menu"></div>
        </li>
    </script>
    {% endverbatim %}
{% endblock %}

{% block content %}
    <div id="map"></div>
{% endblock %}
